{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{% block form_title %}{% endblock %}</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {% for field in form %}
                        <div class="row align-items-center mb-3">
                            <div class="col-md-4 text-end">
                                <label for="{{ field.id_for_label }}" class="form-label text-uppercase" style="font-size: 0.85rem; font-weight: bold; color: #b0b0b0;">{{ field.label }}</label>
                            </div>
                            <div class="col-md-8">
                                {% render_field field class="form-control rounded py-2 px-3" placeholder=field.help_text %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="{% block cancel_url %}{% endblock %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}