{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{% block form_title %}{% endblock %}</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="{% block cancel_url %}{% endblock %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}