{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">{% block card_title %}{% endblock %}</h4>
                        <a href="{% block create_url %}{% endblock %}" class="btn btn-primary btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Add New
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% block table_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}