{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Delete Fire Station</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Confirm Deletion</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <p>Are you sure you want to delete "{{ object.name }}"?</p>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                        <a href="{% url 'firestation-list' %}" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}